@font-face {
  font-family: JakartaSansExtra;
  src: url(../public/fonts/PlusJakartaSans-ExtraBold.ttf);
}
@font-face {
  font-family: JakartaSansMedium;
  src: url(../public/fonts/PlusJakartaSans-Medium.ttf);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /* Primary */
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

html{
  font-family: JakartaSansMedium;
  font-size: 62.5%;
}
#root{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}
.App__header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.App__header-noti{
  font-size: 1.8rem;
  font-family: JakartaSansExtra;
}
.App__header-action{
  font-size: 1.4rem;
}
.App__ul{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.App__ul-li-readed,
.App__ul-li-unreaded{
  display: flex;
  width: 90%;
  flex-direction: column;
  font-size: 1.4rem;
  border-radius: 10px;
}
.App__ul-li-readed{
  background-color: var(--White);
}
.App__ul-li-unreaded{
  background-color: var(--Light-grayish-blue-1);
}
.notification__info{
  display: flex;
  width: 100%;
  padding: 10px;
}
.notification__info-div-img{
  max-width: 40px;
  padding: 5px;
}
.notification__info-desc-date{
  color: var(--Grayish-blue);
  font-size: 1.4rem;
}
.notification__info-post{
  width: 35%;
  display: flex;
  justify-content: flex-end;
}
.notification__info-post-img{
  width: 100%;
  max-width: 40px;
  max-height: 40px;
}
.notification__content{
  font-size: 1.3rem;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 70%;
  align-self:flex-end;
}
.notification__message{
  padding: 15px;
  color: var(--Dark-grayish-blue  );
}
.badge{
  color: var(--Red);
}
.number__noti{
  color: var(--White);
  background-color: var(--Blue);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.4rem;
}
.notification__username,
.action,
.App__header-action,
.notification__info-post-img{
  cursor: pointer;
}
.notification__username,
.action{
  cursor: pointer;
}
.notification__info-desc-p{
  color: var(--Dark-grayish-blue);
}
.action,
.notification__username{
  color: black;
}